<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">

    <meta name = "vewport" content = "width=device-width,initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible"content="ie=ege">
    <title>5</title>
    </head>
    <body>
        <!--主区域-->
        <section id="todoapp">
            <header class="header">
                <h1>记事本</h1>
                <input @keyup.enter="add" autofocus="autofocus" autocomplete="off" placeholder="请输入任务" v-model="val" class="new-todo"/>
            </header>
            <!--列表区域-->
            <section class="main">
                <ul class="todo-list">
                    <li class="todo" v-for="(item, index) in list">
                       <div class="view">
                            <span class="index">{{index+1}}.</span>
                            <label>{{item}}</label>
                            <button @click="sub(index)" class="destory"></button>
                        </div>
                    </li>
                </ul>
            </section>
            <!--统计和清空-->
            <footer class="footer">'''</footer>
        </section>
        <footer class="info">'''</footer>
            <!-- 开发环境版本，包含了有帮助的命令警告-->
            <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script>
                var app = new Vue({
                    el:"#todoapp",
                    data:{
                        list:["one","two","three","four"],
                        val:"666",
                    },
                    methods: {
                        add:function(){
                            this.list.push(this.val);
                        },
                        sub:function(index){
                            this.list.splice(index,1);
                        }
                    },
                })
            </script>
    </body>
</html>